<div class="comp-container">
  <app-background [backColor]="backgroundImg"></app-background>
  <app-header></app-header>
  <app-menu [menuBack]="param"></app-menu>
  <div class="home-body">
    <app-border></app-border>
    <div class="main-body">
      <div class="container-fluid" id="banner">
        <img src="../../../assets/img/banners/banner01.jpg" class="img-responsive">
      </div>

      <div class="page-content">
        <div class="container-fluid">
          <div id="audio_player">
            <audio controls #audio style="margin: 3px auto; width: 165px;">
              <source src="" type="audio/mpeg">
            </audio>
          </div>
          <h3 class="no-top maroon">Gurbani Raag Prabhati </h3>
          <hr>
          <div [innerHtml]="html | safeHtml">

          </div>
        </div>
      </div>
    </div>

  </div>
  <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>
