<div class="comp-container">
  <app-background [backColor]="backgroundImg"></app-background>
  <app-header></app-header>
  <app-menu [menuBack]="param"></app-menu>
  <div class="home-body">
    <app-border></app-border>
    <div class="main-body">
      <div class="container-fluid" id="banner">
        <img src="assets/img/banner.jpg" class="img-responsive">
      </div>
      <div class="page-content">
        <div class="container-fluid">
          <div>Home &gt;&gt; Sikh Gurus &gt; Sri Guru Arjan Dev Ji</div>
          <h2 class="no-top">Sri Guru Arjan Dev Ji </h2>
          <table cellspacing="0" cellpadding="0">
            <tbody>
              <tr align="left" valign="top">
                <td width="287" align="center">
                  <p>
                    <img src="assets/img/res/guru5.jpg" border="0" height="201" width="149"></p>
                  <p> 1563-1606, Guruship 1581-1606)&nbsp; </p>
                </td>
                <td width="319">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td width="100%" valign="top">
                          <ul>
                            <li><a [routerLink]="['/gurus/guruarjun']" fragment="MASAND">MASAND SYSTEM</a></li>
                            <li><a [routerLink]="['/gurus/guruarjun']" fragment="COMPLETION">COMPLETION OF
                                CONSTRUCTION
                                WORK</a></li>
                            <li><a [routerLink]="['/gurus/guruarjun2']" fragment="animosity">ANIMOSITY OF
                                PRITHI
                                CHAND</a></li>
                            <li><a [routerLink]="['/gurus/guruarjun2']" fragment="preaching">PREACHING TOURS OF
                                GURU</a></li>
                            <li><a [routerLink]="['/gurus/guruarjun3']" fragment="compilation">COMPILATION OF
                                ADI
                                GRANTH</a></li>
                            <li><a [routerLink]="['/gurus/guruarjun3']" fragment="jealousy">PRITHI CHAND'S
                                JEALOUSY</a>
                            </li>
                            <li><a [routerLink]="['/gurus/guruarjun4']" fragment="guru arjan:">MARTYRDOM OF
                                GURU
                                ARJAN</a></li>
                            <li><a [routerLink]="['/gurus/guruarjun4']" fragment="salute">SALUTE TO THE MIGHTY
                                KING</a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="2" valign="top">
                  <div align="center"> Fast Facts</div>
                  <table width="443" border="0" align="center" cellpadding="4" cellspacing="1" bordercolor="#CCCCCC"
                    bordercolorlight="#999999" bordercolordark="#999999" bgcolor="#CCCCCC">
                    <tbody>
                      <tr>
                        <td width="224" height="21" bgcolor="#FFFFFF">
                          <p>FATHER </p>
                        </td>
                        <td width="194" height="21" bgcolor="#FFFFFF">
                          <p>Guru Ram Das Ji </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF">
                          <p>MOTHER </p>
                        </td>
                        <td width="194" height="21" bgcolor="#FFFFFF">
                          <p>Bhani ji </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF">
                          <p>DATE OF BIRTH </p>
                        </td>
                        <td width="194" height="21" bgcolor="#FFFFFF">
                          <p>04/15/1563 </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF">
                          <p>PLACE OF BIRTH </p>
                        </td>
                        <td width="194" height="21" bgcolor="#FFFFFF"> Govindwal, Amritsar</td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF">
                          <p>WIFE </p>
                        </td>
                        <td width="194" height="21" bgcolor="#FFFFFF">
                          <p>Ganga Ji </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF">
                          <p>CHILDREN </p>
                        </td>
                        <td width="194" height="21" bgcolor="#FFFFFF"> Har Gobind Sahib Ji</td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF">
                          <p>AGE, YEAR &amp; TIME AT GUR GADHI </p>
                        </td>
                        <td width="194" height="21" bgcolor="#FFFFFF"> 09/01/1581, 25 year</td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF"> REGIMES</td>
                        <td width="194" height="21" bgcolor="#FFFFFF"> Akbar &amp; Jahangir</td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF"> CONTRIBUTION OF BANIES</td>
                        <td width="194" height="21" bgcolor="#FFFFFF">
                          <p>Sukhmani Sahib, BarahMaha, Bava Akhri &amp;
                            2312
                            Shabads in 30 Rags </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF">
                          <p>AGE </p>
                        </td>
                        <td width="194" height="21" bgcolor="#FFFFFF">
                          <p>43 </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF">
                          <p>JYOTI-JOT DAY </p>
                        </td>
                        <td width="194" height="21" bgcolor="#FFFFFF">
                          <p>05/30/1606 </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="217" height="21" bgcolor="#FFFFFF">
                          <p>JYOTI JOT PLACE </p>
                        </td>
                        <td width="194" height="21" bgcolor="#FFFFFF">
                          <p>Lahore </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p align="center">&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td colspan="2" valign="top">
                  <div [innerHtml]="html | safeHtml"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="navig_right_left">
            <table width="100%" border="0" cellspacing="0" cellpadding="4">
              <tbody>
                <tr>
                  <td width="140"><a [routerLink]="['/gurus']">Index</a></td>
                  <td width="140" align="right"><a [routerLink]="['/gurus/guruarjun2']">Next</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>
