<div class="comp-container">
    <app-background [backColor]="backgroundImg"></app-background>
    <app-header></app-header>
    <app-menu [menuBack]="param"></app-menu>
    <div class="home-body">
        <app-border></app-border>
        <div class="main-body">
            <div class="container-fluid" id="banner">
                <img src="assets/img/banner.jpg" class="img-responsive">
            </div>
            <div class="page-content">
                <div class="container-fluid">
                    <div>Home &gt;&gt;Sikh Gurus &gt;&gt; Sri Guru Gobind Singh ji</div>
                    <div [innerHtml]="html | safeHtml"></div>
                    <hr>
                    <div class="navig_right_left">
                        <table width="100%" border="0" cellspacing="0" cellpadding="4">
                            <tbody><tr>
                                <td width="140"><a [routerLink]="['/gurus']">Index</a></td>
                                <td align="center"><a [routerLink]="['/gurus/gurugobind8']">Back</a></td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>
