<div class="comp-container">
    <app-background [backColor]="backgroundImg"></app-background>
    <app-header></app-header>
    <app-menu [menuBack]="param"></app-menu>
    <div class="home-body">
        <app-border></app-border>
        <div class="main-body">
            <div class="container-fluid" id="banner">
                <img src="assets/img/banner.jpg" class="img-responsive">
            </div>
            <div class="page-content">
                <div class="container-fluid">
                    <div>Home &gt;&gt; Sikh Gurus &gt;&gt; Guru Nanak Dev Ji</div>
                    <h2 class="no-top">Sri Guru Nanak Dev Ji </h2>
                    <div align="center">
                        <img src="assets/img/res/nanak.jpg"
                            alt="Sri Guru Nanak"><br>
                        <strong>(1469 - 1539 A.D.)</strong></div>
                    <br>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr align="left" valign="top">
                                <td>
                                    <div class="sri_guru_nanak_dev_index_left"><strong>INDEX</strong>
                                        <ul>
                                            <li><a [routerLink]="['./']" fragment="GURU'S SCHOOLING">GURU'S SCHOOLING</a></li>
                                            <li><a [routerLink]="['./']" fragment="SACRED THREAD">CEREMONY OF SACRED THREAD</a></li>
                                            <li><a [routerLink]="['./']" fragment="COBRA">COBRA SERVES THE DIVINE MASTER</a></li>
                                            <li><a [routerLink]="['./']" fragment="SECLUSION">GURU SITS IN SECLUSION</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak2']" fragment="1">TRUE
                                                    BARGAIN</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak2']" fragment="1">GURU'S
                                                    MARRIAGE</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak2']" fragment="3">GURU NANAK
                                                    COMES TO SULTANPUR</a>
                                            </li>
                                            <li><a [routerLink]="['/gurus/gurunanak2']" fragment="4">GURU'S
                                                    DISAPPEARANCE</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak2']" fragment="5">TRAVELS OF
                                                    GURU NANAK</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak2']" fragment="6">FIRST STOP AT
                                                    EMINABAD</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak3']" fragment="1">SUJJAN
                                                    THUG</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak3']"  fragment="2">GURU NANAK AT
                                                    HARDWAR</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak3']" fragment="3">GURU AT
                                                    GORAKHMATA</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak3']" fragment="4">REETHA
                                                    SAHIB</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak3']" fragment="5">GURU AT
                                                    BANARAS</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak4']" fragment="1">GURU AT
                                                    GAYA</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak4']"  fragment="2">GURU TO
                                                    KAMRUP</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak5']" fragment="1">KAUDA
                                                    RAKHSHASH</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak5']" fragment="2">GURU AT JAGAN
                                                    NATH PURI</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="sri_guru_nanak_dev_index_left">
                                        <ul>
                                            <li><a [routerLink]="['/gurus/gurunanak6']" fragment="1">RETURN FROM
                                                    SANGALDEEP</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak6']" fragment="2">GURU TO
                                                    SARSA</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak6']" fragment="3">TO
                                                    SULTANPUR</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak6']" fragment="4">HOME
                                                    COMING</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak6']" fragment="5">FOUNDATION OF
                                                    KARTARPUR</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak6']" fragment="6">SECOND
                                                    UDASI</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak7']" fragment="7">GURU TO
                                                    KAILASH PARBAT</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak7']" fragment="8">THIRD
                                                    UDASI</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak7']" fragment="9">GURU NANAK AT
                                                    MECCA</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak7']" fragment="10">GURU NANAK
                                                    AT MEDENA</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak7']" fragment="11">GURU AT
                                                    BAGHDAD</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak7']" fragment="12">RETURN FROM
                                                    BAGHDAD</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak7']" fragment="13">GURU NANAK
                                                    AND VALI KANDHARI</a>
                                            </li>
                                            <li><a [routerLink]="['/gurus/gurunanak9']" fragment="14">GURU AT
                                                    SAIDPUR</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak9']" fragment="15">GURU AT
                                                    KARTARPUR</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak9']" fragment="16">FORMATION OF
                                                    SANGAT</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak9']" fragment="17">LIVING BY
                                                    HONEST MEANS</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak9']" fragment="18">COMMON FREE
                                                    KITCHEN</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak10']" fragment="19">COMPOSITION
                                                    AND COLLECTION OF
                                                    BANI</a>
                                            </li>
                                            <li><a [routerLink]="['/gurus/gurunanak10']" fragment="20">FURTHER
                                                    TRAVEL FROM
                                                    KARTARPUR</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak10']"  fragment="21">GURU AT
                                                    ACHAL BATALA</a></li>
                                            <li><a [routerLink]="['/gurus/gurunanak10']" fragment="25">ASCENSION
                                                    OF GURU NANAK </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p align="center"><strong>Fast Facts</strong></p>
                    <div align="center">
                        <div class="justify-content-center">
                            <table border="1" cellpadding="4" cellspacing="1" bordercolorlight="#999999"
                                bordercolordark="#999999" bgcolor="#CCCCCC">
                                <tbody>
                                    <tr>
                                        <td width="205" height="21" bgcolor="#FFFFFF">
                                            <p align="left"><strong>FATHER</strong></p>
                                        </td>
                                        <td width="277" height="21" bgcolor="#FFFFFF">
                                            <p align="left">Kalayan Das Ji</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="21" bgcolor="#FFFFFF">
                                            <p align="left"><strong>MOTHER</strong></p>
                                        </td>
                                        <td width="277" height="21" bgcolor="#FFFFFF">
                                            <p align="left">Tripta ji</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="21" bgcolor="#FFFFFF">
                                            <p align="left"><strong>DATE OF BIRTH</strong></p>
                                        </td>
                                        <td width="277" height="21" bgcolor="#FFFFFF">
                                            <p align="left">10/20/1469</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="21" bgcolor="#FFFFFF">
                                            <p align="left"><strong>PLACE OF BIRTH</strong>
                                            </p>
                                        </td>
                                        <td width="277" height="21" bgcolor="#FFFFFF">
                                            <p align="left">Talwandi (Pak) Nankana Sahib</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="21" bgcolor="#FFFFFF">
                                            <p align="left"><strong>WIFE</strong></p>
                                        </td>
                                        <td width="277" height="21" bgcolor="#FFFFFF">
                                            <p align="left">Sulakhni ji</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="21" bgcolor="#FFFFFF">
                                            <p align="left"><strong>CHILDREN</strong></p>
                                        </td>
                                        <td width="277" height="21" bgcolor="#FFFFFF">
                                            <p align="left">Sri Chand ji &amp; Lakhmi das
                                                ji</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="20" bgcolor="#FFFFFF">
                                            <p align="left"><strong>AGE, YEAR &amp; TIME AT
                                                    GUR
                                                    GADHI</strong></p>
                                        </td>
                                        <td width="277" height="20" bgcolor="#FFFFFF">
                                            <p align="left">Parkash, 70 years</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="40" bgcolor="#FFFFFF">
                                            <p align="left"><strong>REGIMES</strong></p>
                                        </td>
                                        <td width="277" height="40" bgcolor="#FFFFFF">
                                            <p align="left">Behal, Sakander, Babar, Hamanyu
                                                &amp;
                                                Ibrahim Lodhi</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="78" bgcolor="#FFFFFF">
                                            <p align="left"><strong>CONTRIBUTION OF
                                                    BANIES</strong>
                                            </p>
                                        </td>
                                        <td width="277" height="78" bgcolor="#FFFFFF">
                                            <p align="left">Jap Ji, Sidh Goshat, Sodar,
                                                Sohala, Arti Onkar,
                                                Asa Di
                                                Var, Malar &amp; Madge Di Var, Patti Baramaha. Total 947 Shabads in 19
                                                Rags</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="21" bgcolor="#FFFFFF">
                                            <p align="left"><strong>AGE</strong></p>
                                        </td>
                                        <td width="277" height="21" bgcolor="#FFFFFF">
                                            <p align="left">70</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="21" bgcolor="#FFFFFF">
                                            <p align="left"><strong>JYOTI-JOT DAY</strong></p>
                                        </td>
                                        <td width="277" height="21" bgcolor="#FFFFFF">
                                            <p align="left">05/07/1539</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="205" height="21" bgcolor="#FFFFFF">
                                            <p align="left"><strong>JYOTI JOT PLACE</strong>
                                            </p>
                                        </td>
                                        <td width="277" height="21" bgcolor="#FFFFFF">
                                            <p align="left">Kartar pur</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <p class="black">Guru Nanak was born in 1469 at Rai Bhoeki Talwandi now nown as Nankana
                                Sahib situated
                                in
                                Punjab
                                province of West Pakistan. This place is about 55 miles north-west of Lahore. His
                                father, Mehta Kalu
                                was a
                                Patwari- an accountant of land revenue in the government. Guru's mother was Mata Tripta
                                and he had
                                one older
                                sister, Bibi Nanki. From the very childhood, Bibi Nanki saw in him the Light of God but
                                she did not
                                reveal
                                this secret to anyone. She is known as the first disciple of Guru Nanak.</p>
                        </div>
                    </div>

                    <div [innerHtml]="html | safeHtml"></div>
                    <hr>
                    <div class="navig_right_left">
                        <table width="100%" border="0" cellspacing="0" cellpadding="4">
                            <tbody>
                                <tr>
                                    <td><a [routerLink]="['/gurus']">Index</a></td>
                                    <td align="center"><a [routerLink]="['/gurus/gurus']"></a></td>
                                    <td align="right"><a [routerLink]="['/gurus/gurunanak2']">Next</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>
