<div class="comp-container">
    <app-background [backColor]="backgroundImg"></app-background>
    <app-header></app-header>
    <app-menu [menuBack]="param"></app-menu>
    <div class="home-body">
        <app-border></app-border>

        <app-commonrespage [pageInfo]="pageInfo" [title]="'Faridkot Wala Teeka'" [book_lang]="book_lang"
        [baseUrl]="'faridkot-wala-teeka'" [display_field]="display_field" [volumeno]="volume_id" [maxPage]="maxPage"
        (getPageInfo)="get_page_info($event)" [firstPage]="pageno" [footerColor]="footerColor"></app-commonrespage>

    </div>
    <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>
