
<div class="comp-container">
    <app-background [backColor]="backgroundImg"></app-background>
    
    <app-header></app-header>
    <app-menu [menuBack]="param"></app-menu>
    <div class="home-body" id="banner">
        <app-border></app-border>
        <div class="page-content">
            <h3 class="top-heading">Guru Granth Sahib Jee - Gurbani Index</h3>
            <div class="contents">
                <div class="chapter_index">
                    <div class="section_title">
                        <span class="col_section_name">Writer / Bani</span>
                        <span class="col_page_no">Page</span><br class="clearer">
                    </div>

                    <div class="sub_chapter_name" id="content_2" *ngFor="let item of first_chapters; let i = index">
                        <a [routerLink]="['/guru-granth-sahib/ang/'+item.page_id+'/line/'+item.lineID]">
                            <div class="section_line line" [ngClass]="i%2==1?'row-1':'row1'">
                              <span class="col_section_name">{{item.chapter_name}}</span>
                              <span class="col_page_no">{{item.page_id}}</span>
                              <div class="clearer"></div>
                            </div>
                        </a>
                    </div>

                    <div *ngFor="let item of parentChapters">
                        <a class="accordion" *ngIf="item.page_id===0" (click)="selected_chapter = item">
                            <div class="section_title ">
                              <span class="col_section_name">{{item.chapter_name}}</span>
                              <span class="col_page_no">&nbsp;</span>
                            </div>
                        </a>
                        <div class="panel1" [ngClass]="item.chapter_name===selected_chapter.chapter_name?'expanded':''" *ngIf="item.childs.length>0">
                            <div class="sub_chapter_name" id="content_2" *ngFor="let child of item.childs; let i = index">
                                <a [routerLink]="['/guru-granth-sahib/ang/'+child.page_id+'/line/'+child.lineID]">
                                    <div class="section_line line" [ngClass]="i%2==1?'row-1':'row1'">
                                      <span class="col_section_name">{{child.chapter_name}}</span>
                                      <span class="col_page_no">{{child.page_id}}</span>
                                      <div class="clearer"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer [backColor] = "footerColor"></app-footer>
</div>
<app-copyright></app-copyright>