.main-footer {
    background: #7b0400;
    padding: 10px 0 5px;
    margin-top: 10px;
}
.main-footer .list-inline li a {
    color: #fff!important;
    font-size: 12px;
    padding: 0 5px;
    border-right: 1px solid #fff;
}