<div class="comp-container">
    <app-background [backColor]="backgroundImg"></app-background>

    <app-header></app-header>
    <app-menu [menuBack]="param"></app-menu>
    <div class="home-body" id="banner">
        <app-border></app-border>
        <div class="page-content" xmlns="http://www.w3.org/1999/html">
            <div class="container-fluid">
                <div style="text-align:center;">
                    <h2>Guru Granth Sahib - Raags
                        Index</h2>
                    <h2 style="text-transform: capitalize;">{{ format_author_name() }}</h2>
                    <p>
                        <button class="btn btn-next">
                            <a [routerLink]="['/guru-granth-sahib/index/author']" class="">Author Index</a></button>
                    </p>
                </div>
                <div class="chapter_index">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section_title">
                                <span class="col_section_name">Raag</span>
                                <span class="col_page_no">Page No.</span><br class="clearer">
                            </div>


                            <a *ngFor="let item of raags_info.raags" 
                            [routerLink]="['/guru-granth-sahib/ang/' + item.pageno]">
                                <div class="section_line line row1">
                                    <span class="col_section_name">{{item.raag}}</span>
                                    <span class="col_page_no">{{item.pageno}}</span>
                                </div>
                            </a>

                        </div>
                        <div style="text-align:center;">
                            <p>
                                <button class="btn btn-next">
                                    <a [routerLink]="['/guru-granth-sahib/index/author']" class="">Author Index</a></button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>