<div class="comp-container">
    <app-background [backColor]="backgroundImg"></app-background>

    <app-header></app-header>
    <app-menu [menuBack]="param"></app-menu>
    <div class="home-body">
        <app-border></app-border>
        <div class="main-body">
            <div class="container-fluid"  id="banner">
                <img src="../../../assets/img/banner.jpg" class="img-responsive">
            </div>

            <div class="page-content">
                <div class="container-fluid">
                    <div class="cream">
                    <h4><strong>404 - Page Not Found</strong></h4>
                    <h5>The page you requested was not found.</h5>
                    <!--start-->
                    <h5>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</h5>
                    <h5>please check the sitemap below</h5>
                    
                    <h5> We strive to make your visit to <a [routerLink]="['/']">SearchGurbani.Com </a> a pleasant and memorable
                        one</h5>
                    <h5>Guru Fateh</h5>
                    <h5><a [routerLink]="['/']">SearchGurbani.Com</a> Team</h5>
                <!--end-->
                    </div>
                </div>
            </div>

            <div class="sitemap">
                <div class="page-content">
                <div class="container-fluid">
                    <div class="contents">
                        <h4 class="top-heading no-top">Search Gurbani Sitemap</h4>
                        <hr style="border-top :1px solid #474747;">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <p><a [routerLink]="['/']"><strong>Home</strong></a></p>
                                <p>&nbsp;</p>
            
                                <ul>
                                    <li>
                                        <div>
                                            <strong><a [routerLink]="['/guru-granth-sahib/ang-by-ang']">Sri Guru Granth
                                                    Sahib</a></strong>
                                            <ul>
                                                <li><a [routerLink]="['/guru-granth-sahib/introduction']">Introduction</a>
                                                </li>
                                                <li><a [routerLink]="['/guru-granth-sahib/ang-by-ang']">Ang by Ang</a></li>
                                                <li><a [routerLink]="['/guru-granth-sahib/index/chapter']">Chapter Index</a>
                                                </li>
                                                <li><a [routerLink]="['/guru-granth-sahib/index/author']">Author Index</a>
                                                </li>
                                                <li><a [routerLink]="['/guru-granth-sahib/search']">Search Sri Guru Granth
                                                        Sahib ji</a></li>
                                            </ul>
                                            <p>&nbsp;</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div align="left"><a [routerLink]="['/amrit-keertan/page-by-page']"><strong>Amrit
                                                    Keertan Gutka</strong></a>
                                            <ul>
                                                <li><a [routerLink]="['/amrit-keertan/introduction']">Introduction</a></li>
                                                <li><a [routerLink]="['/amrit-keertan/page-by-page']">Browse Page by Page</a>
                                                </li>
                                                <li><a [routerLink]="['/amrit-keertan/index/chapter']">Chapter Index</a></li>
                                                <li><a [routerLink]="['/amrit-keertan/index/english']">English Index</a></li>
                                                <li><a [routerLink]="['/amrit-keertan/index/punjabi']">Punjabi Index</a></li>
                                                <li><a [routerLink]="['/amrit-keertan/index/hindi']">Hindi Index</a></li>
                                                <li><a [routerLink]="['/amrit-keertan/search']">Search Amrit Keertan Gutka</a>
                                                </li>
                                            </ul>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div align="left"><a [routerLink]="['/bhai-gurdas-vaaran/pauri-by-pauri']"><strong>Bhai
                                                    Gurdas Vaaran</strong></a>
                                            <ul>
                                                <li><a [routerLink]="['/bhai-gurdas-vaaran/introduction']">Introduction</a>
                                                </li>
                                                <li><a [routerLink]="['/bhai-gurdas-vaaran/pauri-by-pauri']">Browse Pauri by
                                                        Pauri</a></li>
                                                <li><a [routerLink]="['/bhai-gurdas-vaaran/index/vaar']">Vaar Index</a></li>
                                                <li><a [routerLink]="['/bhai-gurdas-vaaran/search']">Search Bhai Gurdas
                                                        Vaaran</a></li>
                                            </ul>
                                            <p>&nbsp;</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div align="left"><a [routerLink]="['/dasam-granth/page-by-page']"><strong>Dasam
                                                    Granth Sahib</strong></a>
                                            <ul>
                                                <li><a [routerLink]="['/dasam-granth/introduction']">Introduction</a></li>
                                                <li><a [routerLink]="['/dasam-granth/index/chapter/en']">Chapter Index</a></li>
                                                <li><a [routerLink]="['/dasam-granth/page-by-page']">Browse Page by Page</a>
                                                </li>
                                                <li><a [routerLink]="['/dasam-granth/search']">Search Dasam Granth Sahib</a>
                                                </li>
                                            </ul>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div align="left"><a [routerLink]="['/kabit-savaiye/kabit-by-kabit']"><strong>Kabit
                                                    Bhai Gurdas</strong></a>
                                            <ul>
                                                <li><a [routerLink]="['/kabit-savaiye/kabit-by-kabit']">Browse Kabit by
                                                        Kabit</a></li>
                                                <li><a [routerLink]="['/kabit-savaiye/search']">Search Kabit Bhai Gurdas</a>
                                                </li>
                                            </ul>
                                            <p>&nbsp;</p>
                                        </div>
                                    </li>
                                    <div align="left"><a [routerLink]="['/bhai-nand-lal/introduction']"><strong>Bhai Nand Lal
                                                Baani</strong></a>
                                        <ul>
                                            <li><a [routerLink]="['/bhai-nand-lal/ghazal']">Divan-e-Goya : Ghazals</a></li>
                                            <li><a [routerLink]="['/bhai-nand-lal/quatrains']">Rubaayee</a></li>
                                            <li><a [routerLink]="['/bhai-nand-lal/zindginama']">Zindginama</a></li>
                                            <li><a [routerLink]="['/bhai-nand-lal/ganjnama']">Ganjnama</a></li>
                                            <li><a [routerLink]="['/bhai-nand-lal/jot-bikas']">Jot Bikas (Punjabi)</a></li>
                                            <li><a [routerLink]="['/bhai-nand-lal/jot-bikas-persian']">Jot Bikas (Persian)</a></li>
                                            <li><a [routerLink]="['/bhai-nand-lal/rahitnama']">Rahit Nama</a></li>
                                            <li><a [routerLink]="['/bhai-nand-lal/tankahnama']">Tankah Nama</a></li>
                                        </ul>
                                        <p>&nbsp;</p>
                                    </div>
                                </ul>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <ul>
                                    <li>
                                        <div align="left"><a href="#"><strong>Baani's</strong></a>
                                            <ul>
                                                <li><strong><a href="#">Nitnem</a></strong><a href="#"></a>
                                                    <ul>
                                                        <li><a [routerLink]="['/baanis/japji-sahib']">Japji Sahib</a></li>
                                                        <li><a [routerLink]="['/baanis/jaap-sahib']">Jaap Sahib</a></li>
                                                        <li><a [routerLink]="['/baanis/tvai-prasadh-savaiye']">Tvai Prasadh
                                                                Savaiye</a></li>
                                                        <li><a [routerLink]="['/baanis/chaupai-sahib']">Chaupai Sahib</a></li>
                                                        <li><a [routerLink]="['/baanis/anand-sahib']">Anand Sahib</a></li>
                                                        <li><a [routerLink]="['/baanis/rehraas-sahib']">Rehraas Sahib</a></li>
                                                        <li><a [routerLink]="['/baanis/kirtan-sohila']">Kirtan Sohila</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#"><strong>Guru Granth Sahib</strong></a>
                                                    <ul>
                                                        <li><a [routerLink]="['/baanis/anand-sahib-bhog']">Anand
                                                                Sahib(Bhog)</a></li>
                                                        <li><a [routerLink]="['/baanis/laavan-anand-karaj']">Laavan(Anand
                                                                Karaj)</a></li>
                                                        <li><a [routerLink]="['/baanis/asa-ki-vaar']">Asa Ki Vaar</a></li>
                                                        <li><a [routerLink]="['/baanis/sukhmani-sahib']">Sukhmani Sahib</a>
                                                        </li>
                                                        <li><a [routerLink]="['/baanis/sidh-gosht']">Sidh Gosht</a></li>
                                                        <li><a [routerLink]="['/baanis/ramkali-sadh']">Ramkali Sadh</a></li>
                                                        <li><a [routerLink]="['/baanis/dhakanee-oankaar']">Dhakanee
                                                                Oankaar</a></li>
                                                        <li><a [routerLink]="['/baanis/baavan-akhree']">Baavan Akhree</a></li>
                                                        <li><a [routerLink]="['/baanis/shabad-hazare']">Shabad Hazare</a></li>
                                                        <li><a [routerLink]="['/baanis/baarah-maaha']">Baarah Maaha</a></li>
                                                        <li><a [routerLink]="['/baanis/sukhmana-sahib']">Sukhmana sahib</a>
                                                        </li>
                                                        <li><a [routerLink]="['/baanis/dukh_bhanjani-sahib']">Dukh Bhanjani
                                                                Sahib</a></li>
                                                        <li><a [routerLink]="['/baanis/salok-sehskritee']">Salok
                                                                Sehskritee</a></li>
                                                        <li><a [routerLink]="['/baanis/gathaa']">Gathaa</a></li>
                                                        <li><a [routerLink]="['/baanis/phunhay-m5']">Phunhay M: 5</a></li>
                                                        <li><a [routerLink]="['/baanis/chaubolay-m5']">Chaubolay M:5</a></li>
                                                        <li><a [routerLink]="['/baanis/salok-kabeer-ji']">Salok Kabeer ji</a>
                                                        </li>
                                                        <li><a [routerLink]="['/baanis/salok-farid-ji']">Salok Farid ji</a>
                                                        </li>
                                                        <li><a [routerLink]="['/baanis/savaiye-m1']">Savaiye M: 1</a></li>
                                                        <li><a [routerLink]="['/baanis/savaiye-m2']">Savaiye M: 2</a></li>
                                                        <li><a [routerLink]="['/baanis/savaiye-m3']">Savaiye M: 3</a></li>
                                                        <li><a [routerLink]="['/baanis/savaiye-m4']">Savaiye M: 4</a></li>
                                                        <li><a [routerLink]="['/baanis/savaiye-m5']">Savaiye M: 5</a></li>
                                                        <li><a [routerLink]="['/baanis/salok-m9']">Salok M: 9</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#"><strong>Dasam Granth</strong></a>
                                                    <ul>
                                                        <li><a [routerLink]="['/baanis/akal-ustati']">Akal Ustati</a></li>
                                                        <li><a [routerLink]="['/baanis/bachitar-natak']">Bachitar Natak</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div align="left"><strong><a href="#">Hukumnama</a></strong><a href="#"></a>
                                            <ul>
                                                <li><a [routerLink]="['/hukumnama']">Hukumnama Index</a></li>
                                                <li><a [routerLink]="['/hukum/index']">Sri Darbar Sahib</a></li>
                                                <li><a [routerLink]="['/hukumnama/cyber']">Cyber Hukumnama</a></li>
                                            </ul>
                                        </div>
                                        <div align="left"><a href="#"><strong>Resources</strong></a>
                                            <ul>
                                                <li><a [routerLink]="['/mahan-kosh']">GurShabad Ratanakar Mahankosh</a></li>
                                                <li><a [routerLink]="['/guru-granth-kosh']">Sri Guru Granth Kosh</a></li>
                                                <li><a [routerLink]="['/sri-nanak-prakash']">Sri Nanak Prakash</a></li>
                                                <li><a [routerLink]="['/sri-gur-pratap-suraj-granth']">Sri Gur Pratap Suraj
                                                        Granth</a></li>
                                                <li><a [routerLink]="['/faridkot-wala-teeka']">Faridkot Wala Teeka</a></li>
                                                <li><a [routerLink]="['/sri-guru-granth-darpan']">Sri Guru Granth Darpan</a>
                                                </li>
                                                <li><a [routerLink]="['/maansarovar']">Maansarovar</a></li>
                                                <li><a [routerLink]="['/compilation/page/1']">Compilation of Sri Guru Granth
                                                        Sahib</a></li>
                                                <li><a [routerLink]="['/music/page/1']">Indian Classical Music and Sikh
                                                        Kirtan</a></li>
                                                <li><a [routerLink]="['/gurus']">Guru Sahiban</a></li>
                                                <li><a [routerLink]="['/bhagats']">Bhagat Sahiban</a></li>
                                                <li><a [routerLink]="['/bhatts']">Bhatt Sahiban</a></li>
                                                <li><a [routerLink]="['/raags']">Gurbani Raags</a></li>
                                                <li><a [routerLink]="['/unicode']">Gurbani Fonts</a></li>
                                                <li><a [routerLink]="['/sgdv']">Search Gurbani Desktop Version</a></li>
                                            </ul>
                                        </div>
            
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <app-footer [backColor] = "footerColor"></app-footer>
</div>
<app-copyright></app-copyright>