<div class="comp-container">
  <app-background [backColor]="backgroundImg"></app-background>
  <app-header></app-header>
  <app-menu [menuBack]="param"></app-menu>
  <div class="home-body">
      <app-border></app-border>
      <div class="main-body">
          <div class="container-fluid" id="banner">
              <img src="../../../assets/img/banner.jpg" class="img-responsive">
          </div>
          <div class="page-content">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="contents">
                              <div id="sri_gur_pratap_suraj_granth_search_page">
                                  <div class="abc">
                                      <h2 class="top-heading no-top">Sri Nanak Prakash</h2>

                                      <div class="subhead">
                                          Showing from {{ page_info.search_results_info?.showing_from}}  to  {{ page_info.search_results_info?.showing_to }} of {{page_info.search_results_info?.total_results}} occurrences of {{keyword}} in Sri Nanak Prakash
                                      </div>

                                      <p class="pagination_links"></p>
                                      <pagination [(ngModel)]="page" (pageChanged)="pageChanged($event)" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                      lastText="&raquo;" boundaryLinks="true" [itemsPerPage]="25" [totalItems]="page_info.occurrences_count"></pagination>


                                      <div *ngFor="let item of page_info.occurrences; let i = index">
                                          <!-- <a [routerLink]="['/sri-nanak-prakash/page/' + item.page_id +'/highlight/']"> -->
                                          <a [routerLink]="['/sri-nanak-prakash/page/' + item.page_id + '/volume/'+item.volume_id+'/highlight/']">
                                              Sri Nanak Prakash Section {{item.volume_id}}, Page {{item.page_id}}
                                          </a>
                                      </div>

                                      <div class="clearer"></div>

                                      <p class="pagination_links"></p>
                                      <pagination [(ngModel)]="page" (pageChanged)="pageChanged($event)" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                      lastText="&raquo;" boundaryLinks="true" [itemsPerPage]="25" [totalItems]="page_info.occurrences_count"></pagination>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>
