<div class="comp-container">
  <app-background [backColor]="backgroundImg"></app-background>
  <app-header></app-header>
  <app-menu [menuBack]="param"></app-menu>
  <div class="home-body">
    <app-border></app-border>
    <div class="main-body">
      <div class="container-fluid" id="banner">
        <img src="assets/img/banner.jpg" class="img-responsive">
      </div>
      <div class="page-content">
        <div class="container-fluid">
          <div>Home &gt;&gt; Sikh Gurus&gt;&gt;Sri Guru Tegh Bhadur Sahib Ji</div>
          <h2 class="no-top">Sri Guru Tegh Bhadur Sahib Ji</h2>
          <table cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td align="left" valign="top" width="150%">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td align="left" valign="top" width="100%">
                          <p>&nbsp;</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table border="0" bordercolor="#111111" cellpadding="0" cellspacing="0" width="71%">
                    <tbody>
                      <tr>
                        <td align="middle" width="262">
                          <p align="center">
                            <img src="assets/img/res/guru9.jpg" border="0" height="198" width="149"></p>
                          <p><strong>(1621-1675, Guruship 1664-1675)&nbsp;</strong></p>
                        </td>
                        <td align="middle" valign="top" width="278">
                          <table border="0" cellpadding="0" cellspacing="0" width="85%">
                            <tbody>
                              <tr>
                                <td valign="baseline">
                                  <ul>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="1">GURU
                                        VISITS
                                        AMRITSAR</a></li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="2">FOUNDATION
                                        OF CITY
                                        OF ANANDPUR</a></li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="3">GURU ON
                                        MISSIONARY
                                        TOUR</a></li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="4">GURU AT
                                        KURUKSHETRA</a></li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="5">GURU IN
                                        UTTAR
                                        PRADESH</a></li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="6">GURU IN
                                        BIHAR
                                        PROVINCE</a></li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="7">GURU TO
                                        BENGAL</a>
                                    </li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="8">BIRTH OF A
                                        SON</a>
                                    </li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="9">AURANGZEB'S
                                        CAMPAIGN OF RELIGIOUS PERSECUTION</a></li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="10">KASHMIRI
                                        BRAHMANS COME TO GURU</a></li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="11">GURU
                                        SUMMONED TO
                                        DELHI</a></li>
                                    <li><a [routerLink]="['/gurus/guruteghbhadur']" fragment="12">MARTYRDOM
                                        OF
                                        GURU TEGH BAHADUR</a></li>
                                  </ul>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="left" valign="top" width="100%">
                  <p align="center"><strong>Fast Facts</strong></p>
                  <div align="center">
                    <div class="justify-content-center">
                      <table>
                        <tbody>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>FATHER</strong></p>
                            </td>
                            <td height="21">
                              <p align="left">HarGobind Sahib Ji</p>
                            </td>
                          </tr>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>MOTHER</strong></p>
                            </td>
                            <td height="21">
                              <p align="left">Nanki Ji</p>
                            </td>
                          </tr>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>DATE OF BIRTH</strong></p>
                            </td>
                            <td height="21">
                              <p align="left">04/01/1621</p>
                            </td>
                          </tr>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>PLACE OF BIRTH</strong></p>
                            </td>
                            <td height="21">
                              <p align="left">Amritsar</p>
                            </td>
                          </tr>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>WIFE</strong></p>
                            </td>
                            <td height="21">
                              <p align="left">Gujri Ji</p>
                            </td>
                          </tr>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>CHILDREN</strong></p>
                            </td>
                            <td height="21">
                              <p align="left">Gobind Singh Ji</p>
                            </td>
                          </tr>
                          <tr>
                            <td height="21"><strong>AGE, YEAR &amp; TIME AT GUR GADHI</strong></td>
                            <td height="21">03/20/1665, 10 Year and 6 Months</td>
                          </tr>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>REGIMES</strong></p>
                            </td>
                            <td height="21">
                              <p align="left">Aurangzeb</p>
                            </td>
                          </tr>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>CONTRIBUTION OF BANIES</strong></p>
                            </td>
                            <td height="21">
                              <p align="left">115 Shabads &amp; Shaloks</p>
                            </td>
                          </tr>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>AGE</strong></p>
                            </td>
                            <td height="21">54</td>
                          </tr>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>JYOTI-JOT DAY</strong></p>
                            </td>
                            <td height="21">
                              <p align="left">11/11/1675</p>
                            </td>
                          </tr>
                          <tr>
                            <td height="21">
                              <p align="left"><strong>JYOTI JOT PLACE</strong></p>
                            </td>
                            <td height="21">
                              <p align="left">Delhi</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="left" valign="top">
                  <div [innerHtml]="html | safeHtml"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="navig_right_left">
            <table width="100%" border="0" cellspacing="0" cellpadding="4">
              <tbody>
                <tr>
                  <td><a [routerLink]="['/gurus']">Index</a></td>
                  <td align="right"><a [routerLink]="['/gurus/guruteghbhadur1']">Next</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>
