<div class="comp-container">
  <app-background [backColor]="backgroundImg"></app-background>

  <app-header></app-header>
  <app-menu [menuBack]="param"></app-menu>
  <div class="home-body" id="banner">
    <app-border></app-border>
    <div class="container-fluid">
      <img src="assets/img/banner.jpg" class="img-responsive">
    </div>
    <div class="page-content">
      <div class="container-fluid" [innerHtml]="html | safeHtml">

      </div>
    </div>
  </div>
  <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>
