<div class="comp-container">
  <app-background [backColor]="backgroundImg"></app-background>
  <app-header></app-header>
  <app-menu [menuBack]="param"></app-menu>
  <div class="home-body">
    <app-border></app-border>
    <div class="main-body">
      <div class="container-fluid" id="banner">
        <img src="assets/img/banner.jpg" class="img-responsive">
      </div>
      <div class="page-content">
        <div class="container-fluid">
          <div>Home &gt;&gt;Sikh Gurus &gt;&gt; Sri Guru Gobind Singh ji</div>
          <h2 class="no-top">Sri Guru Gobind Singh Sahib Ji</h2>
          <table cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td bgcolor="#ffffff">
                  <hr>
                </td>
              </tr>
              <tr>
                <td bgcolor="#ffffff">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td colspan="2" align="left" valign="top"></td>
                      </tr>
                      <tr>
                        <td align="center">
                          <p align="center"><img src="assets/img/res/guru10.jpg" border="0" height="225" width="170">
                          </p>
                          <p align="center"><strong>(1666-1708, Guru ship 1675-1708)&nbsp;</strong></p>
                        </td>
                        <td align="left" valign="top" width="52%">
                          <blockquote>
                            <p align="left"><strong>INDEX</strong></p>
                          </blockquote>
                          <ul>
                            <li><a [routerLink]="['/gurus/gurugobind']" fragment="DUNI CHAND" align="left">VISIT
                                OF
                                DUNI CHAND AND RAJA RATTAN RAI</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind']" fragment="RANJIT NAGARA:" align="left">RANJIT
                                NAGARA:</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind2']" fragment="1" align="left">RAJA BHIM
                                CHAND AND
                                THE GURU</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind2']" fragment="2" align="left">GURU LEAVES
                                FOR
                                PAUNTA SAHIB</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind2']" fragment="3" align="left">RAM RAI'S
                                RECLAMATION:</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind2']" fragment="4" align="left">PIR BUDHU
                                SHAH</a>
                            </li>
                            <li><a [routerLink]="['/gurus/gurugobind3']" fragment="1" align="left">THE BATTLE
                                OF
                                BHANGANI</a></li>
                            <li><strong align="left"></strong><a [routerLink]="['/gurus/gurugobind3']"
                                fragment="2">RETURN
                                TO ANANDPUR</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind3']" fragment="3" align="left">EXPEDITION
                                OF ALIF
                                KHAN:</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind3']" fragment="4" align="left">HUSSAIN
                                KHAN'S
                                EXPEDITION:</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind4']" fragment="1" align="left">CREATION OF
                                THE
                                KHALSA:</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind4']" fragment="2" align="left">THE MASTER
                                BECOMES
                                THE DISCIPLE:</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind4']" fragment="3" align="left">BHAI NAND
                                LAL</a>
                            </li>
                            <li><a [routerLink]="['/gurus/gurugobind5']" fragment="1" align="left">BHAI JOGA
                                SINGH</a>
                            </li>
                            <li><a [routerLink]="['/gurus/gurugobind2']" fragment="POST-KHALSA" align="left">POST-KHALSA
                                PERIOD ACTIVITIES:</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind5']" fragment="3" align="left">FIRST BATTLE
                                OF
                                ANANDPUR</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind5']" fragment="4" align="left">SECOND
                                BATTLE OF
                                ANANDPUR</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind5']" fragment="5" align="left">BATTLE OF
                                NIRMOH</a>
                            </li>
                            <li><a [routerLink]="['/gurus/gurugobind6']" fragment="1" align="left">THIRD BATTLE
                                OF
                                ANANDPUR</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind6']" fragment="2" align="left">FOURTH
                                BATTLE OF
                                ANANDPUR</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind6']" fragment="3" align="left">FIFTH BATTLE
                                OF
                                ANANDPUR</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind6']" fragment="4" align="left">BATTLE OF
                                CHAMKAUR</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind7']" fragment="1" align="left">INNOCENT
                                CHILDREN
                                MARTYRED:</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind7']" fragment="2" align="left">GURU AT
                                DAMDAMMA
                                SAHIB</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind8']" fragment="1" align="left">GURU SEES
                                AURANGZEB</a></li>
                            <li><a [routerLink]="['/gurus/gurugobind9']" fragment="1" align="left">GURU AT
                                NADER</a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" align="left" valign="top">
                          <p>&nbsp;</p>
                          <p align="center"><strong>Fast Facts</strong></p>
                          <table width="443" border="0" align="center" cellpadding="4" cellspacing="1"
                            bordercolorlight="#999999" bordercolordark="#999999" bgcolor="#CCCCCC">
                            <tbody>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">
                                    <strong>FATHER</strong>
                                  </p>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF"> Guru Tegh Bahadur Ji</td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">
                                    <strong>MOTHER</strong>
                                  </p>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">Gujri Ji </p>
                                </td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left"><strong>DATE OF
                                      BIRTH</strong></p>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">12/22/1666 </p>
                                </td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left"><strong>PLACE OF
                                      BIRTH</strong></p>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">Patna Sahib </p>
                                </td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">
                                    <strong>WIFE</strong></p>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF"> Mata Sundari Ji</td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">
                                    <strong>CHILDREN</strong>
                                  </p>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF"> Ajit Singh, Jujhar Singh, Jorawar
                                  Singh
                                  &amp; Fateh Singh
                                </td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF"><strong>AGE, YEAR &amp; TIME AT
                                    GUR
                                    GADHI</strong></td>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">11/11/1675, 33
                                    Year </p>
                                </td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">
                                    <strong>REGIMES</strong>
                                  </p>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">Aurangjeb, Bahadur
                                    Shah </p>
                                </td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF"><strong>CONTRIBUTION OF
                                    BANIES</strong>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF"> Jap Sahib, Akal Ustat, Chopai,
                                  War Shri
                                  Bhagoti, Vachitar Natak, Chobis Avtar Chandi, Charitar, Shastar Nam Mala
                                  (Dasam
                                  Granth)
                                </td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">
                                    <strong>AGE</strong></p>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF"> 42</td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left"><strong>JYOTI-JOT
                                      DAY</strong></p>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left">10/07/1708 </p>
                                </td>
                              </tr>
                              <tr>
                                <td width="25%" height="20" bgcolor="#FFFFFF">
                                  <p align="left"><strong>JYOTI JOT
                                      PLACE</strong></p>
                                </td>
                                <td width="25%" height="20" bgcolor="#FFFFFF"> Nanded</td>
                              </tr>
                            </tbody>
                          </table>
                          <div align="center"></div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" align="left" valign="top">
                          <p>&nbsp;</p>
                          <div [innerHtml]="html | safeHtml"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="navig_right_left">
            <table width="100%" border="0" cellspacing="0" cellpadding="4">
              <tbody>
                <tr>
                  <td width="140"><a [routerLink]="['/gurus']">Index</a></td>
                  <td width="140" align="right"><a [routerLink]="['/gurus/gurugobind2']">Next</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>
