<table cellspacing="1" cellpadding="3" id="Table2">
  <tbody>
    <tr>
      <td id="key1" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey1text"
          value="~&amp;nbsp;ੱ"> <span class="key_green" id="key1english">`</span><span
          id="key1text">&nbsp;&nbsp;~<br>ੱ&nbsp;&nbsp;</span></td>
      <td id="key2" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey2text"
          value="ਆ&amp;nbsp;੧"> <span class="key_green" id="key2english">1</span><span
          id="key2text">&nbsp;&nbsp;ਆ<br>੧&nbsp;&nbsp;</span></td>
      <td id="key3" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey3text"
          value="ਇ&amp;nbsp;੨"> <span class="key_green" id="key3english">2</span><span
          id="key3text">&nbsp;&nbsp;ਇ<br>੨&nbsp;&nbsp;</span></td>
      <td id="key4" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey4text"
          value="ਈ&amp;nbsp;੩"> <span class="key_green" id="key4english">3</span><span
          id="key4text">&nbsp;&nbsp;ਈ<br>੩&nbsp;&nbsp;</span></td>
      <td id="key5" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey5text"
          value="ਉ&amp;nbsp;੪"> <span class="key_green" id="key5english">4</span><span
          id="key5text">&nbsp;&nbsp;ਉ<br>੪&nbsp;&nbsp;</span></td>
      <td id="key6" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey6text"
          value="ਊ&amp;nbsp;੫"> <span class="key_green" id="key6english">5</span><span
          id="key6text">&nbsp;&nbsp;ਊ<br>੫&nbsp;&nbsp;</span></td>
      <td id="key7" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey7text"
          value="ਏ&amp;nbsp;੬"> <span class="key_green" id="key7english">6</span><span
          id="key7text">&nbsp;&nbsp;ਏ<br>੬&nbsp;&nbsp;</span></td>
      <td id="key8" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey8text"
          value="ਐ&amp;nbsp;੭"> <span class="key_green" id="key8english">7</span><span
          id="key8text">&nbsp;&nbsp;ਐ<br>੭&nbsp;&nbsp;</span></td>
      <td id="key9" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey9text"
          value="ਔ&amp;nbsp;੮"> <span class="key_green" id="key9english">8</span><span
          id="key9text">&nbsp;&nbsp;ਔ<br>੮&nbsp;&nbsp;</span></td>
      <td id="key10" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey10text"
          value="ਖ਼&amp;nbsp;੯"> <span class="key_green" id="key10english">9</span><span
          id="key10text">&nbsp;&nbsp;ਖ਼<br>੯&nbsp;&nbsp;</span></td>
      <td id="key11" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey11text"
          value="ਫ਼&amp;nbsp;੦"> <span class="key_green" id="key11english">0</span><span
          id="key11text">&nbsp;&nbsp;ਫ਼<br>੦&nbsp;&nbsp;</span></td>
      <td id="key12" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey12text"
          value="☬&amp;nbsp;-"> <span class="key_green" id="key12english">-</span><span
          id="key12text">&nbsp;&nbsp;☬<br>-&nbsp;&nbsp;</span></td>
      <td id="key13" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey13text"
          value="+&amp;nbsp;="> <span class="key_green" id="key13english">=</span><span
          id="key13text">&nbsp;&nbsp;+<br>=&nbsp;&nbsp;</span></td>
      <td id="key14" class="act cursor" colspan="2" (click)="addKey($event)"><input type="hidden" id="hKey14text"
          value="&amp;nbsp;"> <span class="key_green" id="key14english"></span><span
          id="key14text">&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;</span></td>
    </tr>
    <tr>
      <td id="key15" class="act cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey15text"
          value="&amp;nbsp;"> <span class="key_green" id="key15english"></span><span
          id="key15text">&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;</span></td>
      <td id="key16" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey16text"
          value="ਥ&amp;nbsp;ਤ"> <span class="key_green" id="key16english">q</span><span
          id="key16text">&nbsp;&nbsp;ਥ<br>ਤ&nbsp;&nbsp;</span></td>
      <td id="key17" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey17text"
          value="ਾਂ&amp;nbsp;ਾ"> <span class="key_green" id="key17english">w</span><span
          id="key17text">&nbsp;ਾਂ<br>ਾ&nbsp;&nbsp;</span></td>
      <td id="key18" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey18text"
          value="ਓ&amp;nbsp;ੲ"> <span class="key_green" id="key18english">e</span><span
          id="key18text">&nbsp;&nbsp;ਓ<br>ੲ&nbsp;&nbsp;</span></td>
      <td id="key19" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey19text"
          value="੍ਰ&amp;nbsp;ਰ"> <span class="key_green" id="key19english">r</span><span
          id="key19text">&nbsp;੍ਰ<br>ਰ&nbsp;&nbsp;</span></td>
      <td id="key20" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey20text"
          value="ਠ&amp;nbsp;ਟ"> <span class="key_green" id="key20english">t</span><span
          id="key20text">&nbsp;&nbsp;ਠ<br>ਟ&nbsp;&nbsp;</span></td>
      <td id="key21" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey21text"
          value="ੈ&amp;nbsp;ੇ"> <span class="key_green" id="key21english">y</span><span
          id="key21text">&nbsp;&nbsp;ੈ<br>ੇ&nbsp;&nbsp;</span></td>
      <td id="key22" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey22text"
          value="ੂ&amp;nbsp;ੁ"> <span class="key_green" id="key22english">u</span><span
          id="key22text">&nbsp;&nbsp;ੂ<br>ੁ&nbsp;&nbsp;</span></td>
      <td id="key23" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey23text"
          value="ੀ&amp;nbsp;ਿ"> <span class="key_green" id="key23english">i</span><span
          id="key23text">&nbsp;&nbsp;ੀ<br>ਿ&nbsp;&nbsp;</span></td>
      <td id="key24" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey24text"
          value="ੌ&amp;nbsp;ੋ"> <span class="key_green" id="key24english">o</span><span
          id="key24text">&nbsp;&nbsp;ੌ<br>ੋ&nbsp;&nbsp;</span></td>
      <td id="key25" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey25text"
          value="ਫ&amp;nbsp;ਪ"> <span class="key_green" id="key25english">p</span><span
          id="key25text">&nbsp;&nbsp;ਫ<br>ਪ&nbsp;&nbsp;</span></td>
      <td id="key26" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey26text"
          value="{&amp;nbsp;["> <span class="key_green" id="key26english">[</span><span
          id="key26text">&nbsp;&nbsp;{{'{'}}<br>[&nbsp;&nbsp;</span></td>
      <td id="key27" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey27text"
          value="}&amp;nbsp;]"> <span class="key_green" id="key27english">]</span><span
          id="key27text">&nbsp;&nbsp;{{'}'}}<br>]&nbsp;&nbsp;</span></td>
      <td id="key41" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey41text"
          value="ਙ&amp;nbsp;ਞ"> <span class="key_green" id="key41english">\</span><span
          id="key41text">&nbsp;&nbsp;ਙ<br>ਞ&nbsp;&nbsp;</span></td>
      <td id="key59" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey59text"
          value="&nbsp;"> <span class="key_green" id="key59english"></span><span id="key59text">&nbsp;</span></td>
    </tr>
    <tr>
      <td id="key29" class="act cursor" colspan="2" (click)="addKey($event)"><input type="hidden" id="hKey29text"
          value="Caps Lock&amp;nbsp;"> <span class="key_green" id="key29english"></span><span id="key29text">Caps
          Lock<br>&nbsp;&nbsp;&nbsp;</span></td>
      <td id="key30" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey30text"
          value="ੳ&amp;nbsp;ਅ"> <span class="key_green" id="key30english">a</span><span
          id="key30text">&nbsp;&nbsp;ੳ<br>ਅ&nbsp;&nbsp;</span></td>
      <td id="key31" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey31text"
          value="ਸ਼&amp;nbsp;ਸ"> <span class="key_green" id="key31english">s</span><span
          id="key31text">&nbsp;&nbsp;ਸ਼<br>ਸ&nbsp;&nbsp;</span></td>
      <td id="key32" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey32text"
          value="ਧ&amp;nbsp;ਦ"> <span class="key_green" id="key32english">d</span><span
          id="key32text">&nbsp;&nbsp;ਧ<br>ਦ&nbsp;&nbsp;</span></td>
      <td id="key33" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey33text"
          value="ਢ&amp;nbsp;ਡ"> <span class="key_green" id="key33english">f</span><span
          id="key33text">&nbsp;&nbsp;ਢ<br>ਡ&nbsp;&nbsp;</span></td>
      <td id="key34" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey34text"
          value="ਘ&amp;nbsp;ਗ"> <span class="key_green" id="key34english">g</span><span
          id="key34text">&nbsp;&nbsp;ਘ<br>ਗ&nbsp;&nbsp;</span></td>
      <td id="key35" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey35text"
          value="੍ਹ&amp;nbsp;ਹ"> <span class="key_green" id="key35english">h</span><span
          id="key35text">&nbsp;੍ਹ<br>ਹ&nbsp;&nbsp;</span></td>
      <td id="key36" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey36text"
          value="ਝ&amp;nbsp;ਜ"> <span class="key_green" id="key36english">j</span><span
          id="key36text">&nbsp;&nbsp;ਝ<br>ਜ&nbsp;&nbsp;</span></td>
      <td id="key37" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey37text"
          value="ਖ&amp;nbsp;ਕ"> <span class="key_green" id="key37english">k</span><span
          id="key37text">&nbsp;&nbsp;ਖ<br>ਕ&nbsp;&nbsp;</span></td>
      <td id="key38" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey38text"
          value="ਲ਼&amp;nbsp;ਲ"> <span class="key_green" id="key38english">l</span><span
          id="key38text">&nbsp;&nbsp;ਲ਼<br>ਲ&nbsp;&nbsp;</span></td>
      <td id="key39" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey39text"
          value=":&amp;nbsp;ਃ"> <span class="key_green" id="key39english">;</span><span
          id="key39text">&nbsp;&nbsp;:<br>ਃ&nbsp;&nbsp;</span></td>
      <td id="key40" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey40text"
          value="&quot;&amp;nbsp;'"> <span class="key_green" id="key40english">'</span><span
          id="key40text">&nbsp;&nbsp;"<br>'&nbsp;&nbsp;</span></td>
      <td id="key28" class="act cursor" colspan="2" (click)="addKey($event)"><input type="hidden" id="hKey28text"
          value="&amp;nbsp;"> <span class="key_green" id="key28english"></span><span
          id="key28text">&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;</span></td>
    </tr>
    <tr>
      <td id="key42" class="act cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey42text"
          value="&amp;nbsp;"> <span class="key_green" id="key42english"></span><span
          id="key42text">&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;</span></td>
      <td id="key43" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey43text"
          value="ਜ਼&amp;nbsp;ਗ਼"> <span class="key_green" id="key43english">z</span><span
          id="key43text">&nbsp;&nbsp;ਜ਼<br>ਗ਼&nbsp;&nbsp;</span></td>
      <td id="key44" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey44text"
          value="ਯ&amp;nbsp;ਣ"> <span class="key_green" id="key44english">x</span><span
          id="key44text">&nbsp;&nbsp;ਯ<br>ਣ&nbsp;&nbsp;</span></td>
      <td id="key45" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey45text"
          value="ਛ&amp;nbsp;ਚ"> <span class="key_green" id="key45english">c</span><span
          id="key45text">&nbsp;&nbsp;ਛ<br>ਚ&nbsp;&nbsp;</span></td>
      <td id="key46" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey46text"
          value="ੜ&amp;nbsp;ਵ"> <span class="key_green" id="key46english">v</span><span
          id="key46text">&nbsp;&nbsp;ੜ<br>ਵ&nbsp;&nbsp;</span></td>
      <td id="key47" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey47text"
          value="ਭ&amp;nbsp;ਬ"> <span class="key_green" id="key47english">b</span><span
          id="key47text">&nbsp;&nbsp;ਭ<br>ਬ&nbsp;&nbsp;</span></td>
      <td id="key48" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey48text"
          value="ਂ&amp;nbsp;ਨ"> <span class="key_green" id="key48english">n</span><span
          id="key48text">&nbsp;&nbsp;ਂ<br>ਨ&nbsp;&nbsp;</span></td>
      <td id="key49" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey49text"
          value="ੰ&amp;nbsp;ਮ"> <span class="key_green" id="key49english">m</span><span
          id="key49text">&nbsp;&nbsp;ੰ<br>ਮ&nbsp;&nbsp;</span></td>
      <td id="key50" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey50text"
          value="ੴ&amp;nbsp;,"> <span class="key_green" id="key50english">,</span><span
          id="key50text">&nbsp;&nbsp;ੴ<br>,&nbsp;&nbsp;</span></td>
      <td id="key51" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey51text"
          value="।&amp;nbsp;."> <span class="key_green" id="key51english">.</span><span
          id="key51text">&nbsp;&nbsp;।<br>.&nbsp;&nbsp;</span></td>
      <td id="key52" class="dbl cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey52text"
          value="?&amp;nbsp;॥"> <span class="key_green" id="key52english">/</span><span
          id="key52text">&nbsp;&nbsp;?<br>॥&nbsp;&nbsp;</span></td>
      <td id="key53" class="act cursor" colspan="4" (click)="addKey($event)"><input type="hidden" id="hKey53text"
          value=""> <span class="key_green" id="key53english"></span><span id="key53text"></span></td>
    </tr>
    <tr>
      <td id="key54" class="act cursor" colspan="2" (click)="addKey($event)"><input type="hidden" id="hKey54text"
          value="Ctrl"> <span class="key_green" id="key54english"></span><span id="key54text">Ctrl</span></td>
      <td id="key55" class="act cursor" colspan="2" (click)="addKey($event)"><input type="hidden" id="hKey55text"
          value="Alt"> <span class="key_green" id="key55english"></span><span id="key55text">Alt</span></td>
      <td id="key56" class="act cursor" colspan="7" (click)="addKey($event)"><input type="hidden" id="hKey56text"
          value="Space<br>"> <span class="key_green" id="key56english"></span><span id="key56text">Space<br></span></td>
      <td id="key57" class="act cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey57text"
          value="Alt"> <span class="key_green" id="key57english"></span><span id="key57text">Alt</span></td>
      <td id="key58" class="act cursor" colspan="1" (click)="addKey($event)"><input type="hidden" id="hKey58text"
          value="Ctrl"> <span class="key_green" id="key58english"></span><span id="key58text">Ctrl</span></td>
      <td id="key53" class="act cursor" colspan="2" (click)="addKey($event)"><input type="hidden" id="hKey53text"
          value=""> <span class="key_green" id="key53english"></span><span id="key53text"></span></td>
    </tr>
  </tbody>
</table>
<!-- <p>punjabi-keyboard component works</p> -->
