<div class="comp-container">
    <app-background [backColor]="backgroundImg"></app-background>

    <app-header></app-header>
    <app-menu [menuBack]="param"></app-menu>
    <div class="home-body" id="banner">
        <app-border></app-border>
        <div class="page-content">
          <h4 class="bold top-20">Amrit Keertan Advanced Search</h4>
          <app-advance-search [scripture]="'ak'" [maxPage]="'1040'" [firstPage]="'65'" [footerColor]="footerColor"></app-advance-search>
        </div>
    </div>
    <app-footer [backColor]="footerColor"></app-footer>
</div>
<app-copyright></app-copyright>
